<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Topics</h1>

  <% @topics.each do |topic| %>
    <div>
      <%= topic %>
    </div>
  <% end %>
  
</body>
</html>