<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="background: red;">
  <h1>Topics - AS AN ADMIN</h1>

  <% @topics.each do |topic| %>
    <div>
      <h2><%= link_to topic.name, topic_url(topic) %></h2>
      <%= button_to "delete", admin_topic_url(topic), :method => :delete %>
      <img style="height: 150px;" src="<%= topic.image %>" />      
    </div>
  <% end %>
  
</body>
</html>